* {
  margin: 0;
  padding: 0; }

html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

.bienvenidos {
  background: url("../img/fondo-encabezado.jpg") no-repeat;
  color: white;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.encabezado {
  background: #111111;
  color: white;
  padding: .5rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.encabezado .logo img {
  width: 150px;
  height: auto; }

/* Estilos para el boton buscar y menu*/
.boton-buscar, .boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff; }

.boton-buscar:focus, .boton-menu:focus {
  outline: 0; }

.boton-buscar {
  margin-left: auto;
  margin-right: .8rem; }

/*Estilos para el bloque buscar*/
#bloque-buscar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

.contenedor-bloque-buscar input [type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem; }

.contenedor-bloque-buscar input [type="submit"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #12AFAF;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 1rem; }

#menu-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none; }

#menu-principal ul a:hover, #menu-principal ul li.active a {
  color: #12AFAF; }

.texto-encabezado {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.texto-encabezado .display-4 {
  margin-top: 4rem; }

.texto-encabezado .btn-primary {
  margin-top: 1rem; }

.btn-primary {
  color: #fff;
  background-color: #12AFAF;
  border-color: transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  background-color: #009500;
  border-color: transparent; }

/*# sourceMappingURL=estilos.css.map */